.pad
{
  &.all10 {
    padding: 10px !important;
  }

  &.all20 {
    padding: 20px !important;
  }

  &.all5 {
    padding: 5px !important;
  }

  &.left5
  {
    padding-left: 5px !important;
  }

  &.right5
  {
    padding-right: 5px !important;
  }

  &.top5
  {
    padding-top: 5px !important;
  }

  &.bottom5
  {
    padding-bottom: 5px !important;
  }

  &.left10
  {
    padding-left: 10px !important;
  }

  &.right10
  {
    padding-right: 10px !important;
  }

  &.top10
  {
    padding-top: 10px !important;
  }

  &.bottom10
  {
    padding-bottom: 10px !important;
  }

  &.left15
  {
    padding-left: 15px !important;
  }

  &.right15
  {
    padding-right: 15px !important;
  }

  &.top15
  {
    padding-top: 15px !important;
  }

  &.bottom15
  {
    padding-bottom: 15px !important;
  }

  &.left20
  {
    padding-left: 20px !important;
  }

  &.right20
  {
    padding-right: 20px !important;
  }

  &.top20
  {
    padding-top: 20px !important;
  }

  &.bottom20
  {
    padding-bottom: 20px !important;
  }
}

.margin
{
  &.all10 {
    margin: 10px !important;
  }

  &.all20 {
    margin: 20px !important;
  }

  &.all5 {
    margin: 5px !important;
  }

  &.left5
  {
    margin-left: 5px !important;
  }

  &.right5
  {
    margin-right: 5px !important;
  }

  &.top5
  {
    margin-top: 5px !important;
  }

  &.bottom5
  {
    margin-bottom: 5px !important;
  }

  &.left10
  {
    margin-left: 10px !important;
  }

  &.right10
  {
    margin-right: 10px !important;
  }

  &.top10
  {
    margin-top: 10px !important;
  }

  &.bottom10
  {
    margin-bottom: 10px !important;
  }

  &.left15
  {
    margin-left: 15px !important;
  }

  &.right15
  {
    margin-right: 15px !important;
  }

  &.top15
  {
    margin-top: 15px !important;
  }

  &.bottom15
  {
    margin-bottom: 15px !important;
  }

  &.left20
  {
    margin-left: 20px !important;
  }

  &.right20
  {
    margin-right: 20px !important;
  }

  &.top20
  {
    margin-top: 20px !important;
  }

  &.bottom20
  {
    margin-bottom: 20px !important;
  }
}

.dark {
  color: #000000 !important;
}

.inline {
  display: inline-block !important;
  vertical-align: top;
}

.inline-block {
  display: inline-block !important;
  vertical-align: top;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.spacer {
  padding: 152px 0px 0px 0px;

  &.small {
    padding: 16px 0px 0px 0px;
  }
}

.align-left {
  text-align: left;
}