/* Include Mixins & CSS3 Stuff */

@include font-face($path + '/fonts/DroidSans-webfont.ttf', DroidSansRegular, 400);
@include font-face($path + '/fonts/DroidSans-Bold-webfont.ttf', DroidSansBold, 400);
@include font-face($path + '/fonts/Lato-Lig.ttf', LatoLight, 400);
@include font-face($path + '/fonts/Lato-Reg.ttf', LatoRegular, 400);
@include font-face($path + '/fonts/Lato-Bol.ttf', LatoBold, 400);
@include font-face($path + '/fonts/PillGothic600mg-Light.otf', PillGothic600MgLight, 400);
@include font-face($path + '/fonts/PillGothic600mg-Regular.otf', PillGothic600MgRegular, 400);
@include font-face($path + '/fonts/PillGothic600mg-Medium.otf', PillGothic600MgMedium, 400);
@include font-face($path + '/fonts/MyriadPro-Regular.otf', MyriadPro-Regular, 400);
@include font-face($path + '/fonts/MyriadPro-Semibold.otf', MyriadPro-Semibold, 400);
@include font-face($path + '/fonts/MyriadPro-Bold.otf', MyriadPro-Bold, 400);

@font-face {
	font-family: 'bariol_lightlight';
	src: url('../fonts/bariol_light-webfont.eot');
	src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bariol_light-webfont.woff') format('woff'),
		url('../fonts/bariol_light-webfont.ttf') format('truetype'),
		url('../fonts/bariol_light-webfont.svg#bariol_lightlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bariol_regularregular';
	src: url('../fonts/bariol_regular-webfont.eot');
	src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bariol_regular-webfont.woff') format('woff'),
		url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
		url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'geogrotesque_lglight';
	src: url('../fonts/geogrotesque_light-webfont.eot');
	src: url('../fonts/geogrotesque_light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/geogrotesque_light-webfont.woff') format('woff'),
		url('../fonts/geogrotesque_light-webfont.ttf') format('truetype'),
		url('../fonts/geogrotesque_light-webfont.svg#geogrotesque_lglight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'geogrotesque_ullgultralight';
	src: url('../fonts/geogrotesque_ultralight-webfont.eot');
	src: url('../fonts/geogrotesque_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/geogrotesque_ultralight-webfont.woff') format('woff'),
		url('../fonts/geogrotesque_ultralight-webfont.ttf') format('truetype'),
		url('../fonts/geogrotesque_ultralight-webfont.svg#geogrotesque_ullgultralight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'geogrotesque_rgregular';
	src: url('../fonts/geogrotesque_regular-webfont.eot');
	src: url('../fonts/geogrotesque_regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/geogrotesque_regular-webfont.woff') format('woff'),
		url('../fonts/geogrotesque_regular-webfont.ttf') format('truetype'),
		url('../fonts/geogrotesque_regular-webfont.svg#geogrotesque_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'geogrotesque_mdmedium';
	src: url('../fonts/geogrotesque_medium-webfont.eot');
	src: url('../fonts/geogrotesque_medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/geogrotesque_medium-webfont.woff') format('woff'),
		url('../fonts/geogrotesque_medium-webfont.ttf') format('truetype'),
		url('../fonts/geogrotesque_medium-webfont.svg#geogrotesque_mdmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}